<% provide(:title, 'Contact') %>
<h1>Contact Information</h1>
<p>
  All those who've tried contacting Ninja Jesse have failed in fatal ways... 
  If you want to learn how to make awesome sites under the guidance of Grand Master Ninjas like M. Hartl, I would advise you to refer to the following:
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact" target="_blank">contact page</a>.
</p>