<% provide(:title, 'Help') %>
<h1>I see you are in dire need of help, I'll see what I can do...</h1>
<p>
	Were you looking for <a href="http://www.geekologie.com/2011/04/27/ninjas.jpg" target="_blank">this?</a>
	What about <a href="http://cdn.smosh.com/sites/default/files/bloguploads/cartoon-screencap-TMNT-drugs.jpg" target="_blank">this?</a>
	I guess if you were looking for truly helpful things, you might consult these:
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help" target="_blank">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book" target="_blank">Rails Tutorial book</a>.
</p>