<li>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    whispered <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "Are you absolutely sure you wish to banish this whisper from complete existence?" },
                                     title: micropost.content %>
  <% end %>
</li>